<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>House Price Pridiction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./static/mycss.css", media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="./static/mycss2.css", media="screen,projection"/>

</head>
<body>
    <div id="body">
        <div class="items">
            <div class='background'>
                <div class="text1">
                    <h1>House Price Prediction</h1>
                </div>
            </div>
            <div id=result>
                <p>The price of your dream house is ?</p>
                <div id=result2>
                    <p> {{pred}}</p>                
                </div>         
            </div>
          

            <div class=form>
                
                <form action="/predict" method="post">
                    <table style="text-align: left; width:30%;">
                        <tr>
                            <th><label class='select_label'>Do you want <b>single</b> story house? </label></th>
                            <td>
                                <Select id='one_story' name='one_story'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Do you want <b>two</b> story house? </label></th>
                            <td>
                                <Select id='two_story' name='two_story'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Do you want <b>three</b> story house? </label></th>
                            <td>
                                <Select id='three_story' name='three_story'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Do you want <b>four</b> story house? </label></th>
                            <td>
                                <Select id='four_story' name='four_story'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table style="width: 35%;">
                        <tr>
                            <th><label>Lotsize (in square feet):</label></th>
                            <td><input type="number" placeholder="Enter Lotsize here" id='lotsize' name='lotsize'></td>
                        </tr>
                        <tr>
                            <th><label>Number of Bedrooms :</label></th>
                            <td><input type="number" placeholder="No. of Bedrooms" id='bedrooms' name='bedrooms'></td>
                        </tr>
                        <tr>
                            <th><label>Number of Bathrooms :</label></th>
                            <td><input type="number" placeholder="No. of Bathrooms" id='bathrooms' name='bathrooms'></td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Number of Garage Places :</label></th>
                            <td>
                                <input type="number" placeholder="No. of Garage places" id='garpl' name='garpl'>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <table style="text-align: left; width: 30%;">
                        <tr>
                            <th><label class='select_label'>What about driveway ,want one? </label></th>
                            <td>
                                <Select id='driveway' name='driveway'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Do you want living room? </label></th>
                            <td>
                                <Select id='recroom' name='recroom'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Want a full basement? </label></th>
                            <td>
                                <Select id='fullbase' name='fullbase'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Looking for firepalce in the house? </label></th>
                            <td>
                                <Select id='gashw' name='gashw'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                        <tr>
                            <th><label class='select_label'>Do you want air conditioning?</label></th>
                            <td>
                                <Select id='airco' name='airco'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
            
                        <tr>
                            <th><label class='select_label'>Do you have a prefered area?</label></th>
                            <td>
                                <Select id='prefarea' name='prefarea'>
                                    <option value='1'>Yes</option>
                                    <option selected value="0" >No</option>
                                </Select>
                            </td>
                        </tr>
                    </table>
                    
                    <br>
                    <!-- <button id="submitbtn"type="submit" value="Submit" >Submit</button><br>
                    <button id="submitbtntwo" type="button"onclick="window.location.href='http://localhost:5000'">Reset</button> -->
                    <button id="button1"type="submit" value="Submit" class="button button1">Submit</button>
                    <button id="button2" type="button"onclick="window.location.href='http://localhost:5000'" class="button button2">Reset</button>

                </form>
            </div>

            <footer></footer>

        </div>
    </div>

</body>
    
    
</html>